.guess-pic {
  position: relative;
  margin: 0 auto;
  width: 1150px;
}

.guess-pic .game-content {
  width: 700px;
  height: 780px;
  border: none;
}

.guess-pic .start {
  display: inline-block;
  padding: 40px 60px;
  max-width: 750px;
  margin-top: 6rem;
  font-size: calc(150px + 2vmin);
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
}