.header {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.header .moon {
  margin-top: -40px;
  animation: spin infinite 20s linear;
  height: calc(12rem + 2vmin);
  pointer-events: none;
}

.header .logo61 {
  width: calc(20rem + 2vmin);
  height: calc(2rem + 2vmin);
}

.header h1 {
  margin-top: 30px;
  font-size: calc(1rem + 2vmin);
}

.header .hao {
  font-size: calc(3rem + 2vmin);
}

.header .xiao-yao {
  display: inline-block;
  transform: rotate(5deg);
}