.header {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.header .header-content {
  display: inline-flex;
  align-items: flex-start;
}

.header .logo61 {
  width: calc(25rem + 2vmin);
  height: calc(3rem + 2vmin);
}

.header h1 {
  margin-top: 30px;
  font-size: calc(2rem + 2vmin);
}

.header.xmas .xmas-tree {
  width: 200px;
  pointer-events: none;
}

.header.moon-festival {
  margin-left: 80px;
}

.header.moon-festival .moon {
  margin-top: -40px;
  animation: spin infinite 20s linear;
  height: calc(15rem + 2vmin);
  pointer-events: none;
}